<div *ngIf="isLoading; else loadingEnd">
  Loading ...
</div>

<ng-template #loadingEnd>
  <div>
    <h3>{{article.title}}</h3>
    <h6>{{article.resume}}</h6>
    <p>{{article.content}}</p>
  </div>
  <button *ngIf="isAuthorAuth" (click)="publishArticle()">Publish</button>
</ng-template>

