<div *ngIf="isConnected">
  <button routerLink="/createArticles" routerLinkActive="active">Create article</button>
  <button (click)="logout()">Logout</button>
</div>
<div *ngFor="let article of articles">
  <article [article]="article" ></article>
</div>
