<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="form-group">
      <label for="username">Login:</label>
    <input type="text" class="form-control" name="username" id="username" placeholder="login" ngModel>
    <label for="password">Mot de passe:</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="password" ngModel>
  </div>
  <div *ngIf="error" class="errorLogin"><p>Mot de passe ou login incorrecte</p></div>
  <button>Se connecter</button>
  <button routerLink="/createUser" routerLinkActive="active">Create new Account</button>
</form>
