<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="form-group">
    <label for="email">E-mail:</label>
    <input type="email" class="form-control" name="email" id="email" placeholder="e-mail" ngModel>
    <label for="username">Login:</label>
    <input type="text" class="form-control" name="username" id="username" placeholder="login" ngModel>
    <label for="password">Mot de passe:</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="password" ngModel>
  </div>
  <button routerLink="/createUser" routerLinkActive="active">Create new Account</button>
</form>
