<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" name="title" id="title" placeholder="title" ngModel>
    <label for="short">Resume</label>
    <textarea class="form-control" name="short" id="short" placeholder="short" ngModel></textarea>
      <label for="article">Content</label>
    <textarea class="form-control" name="article" id="article" placeholder="article" ngModel></textarea>
  </div>
  <button>Send</button>
</form>

